

body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0;
    font-family: Nunito Sans;
    background: #F5F5F5;

}

.header-bar2_B {
    background-color: #FFFFFF; 
    color: #303030; 
    text-align: center;
    position: relative; 
    width: 100%;
}
.path{
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    align-items: right;
    color:  #808080;
    /* text-align: center; */
    text-decoration: none;
    color: rgb(11, 131, 236);
    /* width: 800px; */
    position: absolute;
    right: 15px;
    top: 25px;
    
    
}

.name-prof_B {
    display: flex;
    /* flex-direction: column; */
    align-items: center; 
    margin-top: 20px; 
    justify-content: center;
    position: relative;
    /* background-color: #FFFFFF; */
}

.profpic_B {
    width: 100px; 
    height: 100px; 
    margin-top: 10px;
    /* position: absolute; */
    /* right: -150px; */
}
.profcaption_B{
    color: #303030;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 10px;
    padding-top: 15px;
    padding-right: 12px;
    padding-left: 8px;
    /* position: absolute; */
    /* top: 80px;
    right: -150px; */
    /* text-align: center; */
}

.biobox_B {
    background-color: #FFFFFF;
    padding: 20px; 
    margin-top: 40px; 
    width: 70%; 
    border: 1px solid #F1F1F1;
    margin-top: 20px;
    position: relative;
}


.boxtitle_B {
    font-size: 10px;
    color: #8D8D8D;
}

.box-moreinfo_B {
    margin-top: 10px; 
    text-align: right; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: none;
}

.icon{
    cursor: pointer;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 10px;
   
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* #rorate-icon {
    transition: transform 0.3s ease;
    width: 7px;
    height: 14px;
    border: 1.5px 1px solid transparent;
} */

@media (max-width: 768px) {
    .name-prof_B {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .profpic_B {
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px; 
    }

    .biobox_B {
        width: 85%; 
        padding: 15px; 
        flex-direction: column;
        align-items: flex-start; 
        
    }
    .profcaption_B{
        /* text-align: right; */
        margin-right: 0px;
        margin-top: -20px;
    }

    .boxtitle_B {
        font-size: 10px;
    }

    .icon {
        margin-right: 0; 
        margin-bottom: -5px;
    }
}


@media (max-width: 480px) {
    .name-prof_B {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        background-color: #FFFFFF;
    }
    .profpic_B{
        margin-right:auto;
        margin-left: auto;
        display: flex;
        position: relative;
    }
    .profcaption_B{
        /* text-align: right; */
        margin-right: 0px;
        margin-top: -20px;
    }

    .boxtext_B {
        font-size: 10px; 
    }
}

/* @media (max-width: 768px) {
    .biobox1_B {
        flex-direction: column;
        align-items: flex-start; 
    }

    .icon {
        margin-right: 0; 
        margin-bottom: 10px;
    }
} */


/* .icon {
    display: inline-block; 
    cursor: pointer; 
}

.icon img {
    transition: transform 0.3s ease; 
}

.rotated {
    transform: rotate(90deg);
} */
